<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
                        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd  
                        http://www.springframework.org/schema/context  
                        http://www.springframework.org/schema/context/spring-context-3.1.xsd  
                        http://www.springframework.org/schema/mvc  
                        http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
                        http://www.springframework.org/schema/tx   
        				http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
        				http://www.springframework.org/schema/aop
                        http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">
	<!-- 自动扫描该包 --> 
	<context:component-scan base-package="com" />
	 <!-- 启动AspectJ支持 -->  
	<aop:aspectj-autoproxy />  
	<!--  加载配置文件  -->
	<import resource="classpath:context/envPropertyLoader.xml"/>
	<!--  加载数据源文件 -->
	<import resource="classpath:context/base/jdbc/context-datasource.xml"/>
	<!--  加载事务配置 -->
	<import resource="classpath:context/base/spring/tx/context-spring-tx.xml"/>
	<!--  加载mvc配置-->	
	<import resource="classpath:context/base/spring/mvc/context-spring-mvc.xml"/>
	
	
</beans>