<?xml version="1.0" encoding="UTF-8"?>
<beans 
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
                        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd  
                        http://www.springframework.org/schema/aop
                        http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
                        "
	>
	<bean id="helloWorldImpl1" class="com.aop.demo.HelloWorldImpl1"/>
	<bean id="helloWorldImpl2" class="com.aop.demo.HelloWorldImpl2"/>
	<bean id="timeHandler" class="com.aop.demo.TimeHandler"/>
	<bean id="logHandler" class="com.aop.demo.LogHandler"/>
	<aop:config>
		<aop:aspect id="time" ref="timeHandler" order="0">
			<aop:pointcut id="addAllMethod" expression="execution(* com.aop.demo.HelloWorld.*(..))" />
			<aop:before pointcut-ref="addAllMethod" method="printTime"/>
			<aop:after pointcut-ref="addAllMethod" method="printTime"/>
		</aop:aspect>
		<aop:aspect id="log" ref="logHandler" order="1">
			<aop:pointcut id="printLog" expression="execution(* com.aop.demo.HelloWorld.*(..))" />
			<aop:before pointcut-ref="printLog" method="LogBefore"/>
			<aop:after pointcut-ref="printLog" method="LogAfter"/>
		</aop:aspect>
	</aop:config>

</beans>